{% extends 'base.html.twig' %}

{% block title %}Revendication index{% endblock %}

{% block body %}
    <h1>Revendication index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>DateCreation</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for revendication in revendications %}
            <tr>
                <td>{{ revendication.id }}</td>
                <td>{{ revendication.titre }}</td>
                <td>{{ revendication.description }}</td>
                <td>{{ revendication.dateCreation }}</td>
                <td>{{ revendication.status }}</td>
                <td>
                    <a href="{{ path('app_revendication_show', {'id': revendication.id}) }}">show</a>
                    <a href="{{ path('app_revendication_edit', {'id': revendication.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_revendication_new') }}">Create new</a>
{% endblock %}
